---
import Layout from "../layouts/Layout.astro";
import LinkList from "../components/LinkList";

const products = [
  {
    id: "1",
    title: "Web Labs",
    description: "思いついたウェブツールを追加していくサイト",
    url: "https://labs.grassfield.online/",
  },
  {
    id: "2",
    title: "Web Games",
    description: "思いついたブラウザゲームを追加していくサイト",
    url: "https://games.grassfield.online/",
  },
  {
    id: "3",
    title: "Marakmodern",
    description:
      "ブログ記事の執筆などに便利な構文を追加した Markdown ベースのマークアップ言語",
    url: "https://github.com/grassfieldk/markmodern",
  },
];
---

<Layout>
  <header class="container" style="margin-bottom: var(--space-lg);">
    <div class="profile-image"></div>
    <h1>GrassfieldK's Home</h1>
  </header>

  <main class="container" style="margin-bottom: var(--space-lg);">
    <div>
      <LinkList products={products} client:load />
    </div>
  </main>

  <footer class="container">
    <p>&copy; 2025 GrassfieldK.</p>
  </footer>
</Layout>
